{
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "printWidth": 140,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"]
}
