@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  @apply bg-whatsapp-misc-scrollbar_light dark:bg-whatsapp-misc-scrollbar_dark;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

a {
  @apply text-whatsapp-misc-link;
}
a:visited {
  @apply text-whatsapp-misc-link;
}
a:hover {
  @apply text-whatsapp-misc-link;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
